
Projectmanager/.idea/modules.xml
Projectmanager/.idea/vcs.xml
Projectmanager/Projectmanager.iml
Projectmanager/.idea/workspace.xml
Projectmanager/.idea/workspace.xml
Projectmanager/.idea/modules.xml
Projectmanager/.idea/misc.xml
Projectmanager/.idea/libraries/lib.xml
Projectmanager/.idea/workspace.xml
.classpath
.project
.settings/org.eclipse.jdt.core.prefs
src/module-info.java
bin/module-info.class
